.header-container{
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  border-bottom: 1px solid #000;
}

.header-list-container{
  display: flex;
  list-style: none;
  gap: 25px;
  font-weight: bold;
}

.header-right-container{
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right-container button{
  background-color: #fff;
  padding: 7px 10px;
  border: 1px solid #000;
}

.header-right-container .profile{
  height: 40px;
  border-radius: 20px;
}